In [86]:
# importing neccessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [87]:
# importing the csv files needed for analysis
content = pd.read_csv('C:\\Users\\user\\Desktop\\Content.csv')
reaction = pd.read_csv('C:\\Users\\user\\Desktop\\Reactions.csv')
reaction_type = pd.read_csv('C:\\Users\\user\\Desktop\\ReactionTypes.csv')

### DATA CLEANING AND MODELLING :

###### 1. CONTENT DATAFRAME

In [88]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

dropping the Unnamed:0, User ID and URL column as they won't be useful for this analysis

In [89]:
content.drop(['Unnamed: 0','URL','User ID'], axis = 1, inplace = True)

In [90]:
content.columns

Index(['Content ID', 'Type', 'Category'], dtype='object')

In [91]:
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   Type        1000 non-null   object
 2   Category    1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB

The dataset contains no null values, therefrore will be checking for duplicates and mis spellings

In [92]:
content.duplicated().sum()

0

In [93]:
content.apply(lambda x : x.nunique())

Content ID    1000
Type             4
Category        41
dtype: int64

In [94]:
content['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [95]:
content['Type'].unique()

array(['photo', 'video', 'GIF', 'audio'], dtype=object)

In [96]:
content['Category'] = content['Category'].str.lower()

In [97]:
content['Category'] = content['Category'].str.strip('""')

In [98]:
content['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [99]:
content.apply(lambda x : x.nunique())

Content ID    1000
Type             4
Category        16
dtype: int64

###### 2. REACTION DATAFRAME

In [100]:
reaction.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

dropping the Unnamed:0 and User ID column as it won't be useful for this analysis

In [101]:
reaction.drop(['Unnamed: 0', 'User ID'],axis = 1, inplace = True)

In [102]:
reaction.columns

Index(['Content ID', 'Type', 'Datetime'], dtype='object')

In [103]:
reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25553 non-null  object
 1   Type        24573 non-null  object
 2   Datetime    25553 non-null  object
dtypes: object(3)
memory usage: 599.0+ KB

In [104]:
reaction.dropna(inplace = True)

In [105]:
 reaction['Datetime'] = pd.to_datetime(reaction['Datetime'])

In [106]:
reaction.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24573 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  24573 non-null  object
 1   Type        24573 non-null  object
 2   Datetime    24573 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 767.9+ KB

In [107]:
reaction.head()

                             Content ID        Type            Datetime
1  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust 2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike 2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2      scared 2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust 2021-01-06 19:13:01
5  97522e57-d9ab-4bd6-97bf-c24d952602d2  interested 2020-08-23 12:25:58

In [108]:
reaction.duplicated().sum()

0

In [109]:
reaction['Type'].nunique()

16

In [110]:
reaction['Type'].unique()

array(['disgust', 'dislike', 'scared', 'interested', 'peeking', 'cherish',
       'hate', 'love', 'indifferent', 'super love', 'intrigued',
       'worried', 'like', 'heart', 'want', 'adore'], dtype=object)

###### 3.  REACTION TYPE DATAFRAME

In [111]:
reaction_type.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [112]:
reaction_type.drop('Unnamed: 0', axis = 1, inplace = True)

In [113]:
reaction_type.columns

Index(['Type', 'Sentiment', 'Score'], dtype='object')

In [114]:
reaction_type.rename(columns = {'Type' : 'reaction_type'},inplace = True)

In [115]:
reaction_type.isna().sum()

reaction_type    0
Sentiment        0
Score            0
dtype: int64

In [116]:
reaction_type.duplicated().sum()

0

In [117]:
reaction_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   reaction_type  16 non-null     object
 1   Sentiment      16 non-null     object
 2   Score          16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 516.0+ bytes

In [118]:
reaction_type['Score'].describe()

count    16.000000
mean     39.625000
std      26.901983
min       0.000000
25%      14.250000
50%      40.000000
75%      66.250000
max      75.000000
Name: Score, dtype: float64

In [119]:
reaction_type['Sentiment'].unique()

array(['positive', 'negative', 'neutral'], dtype=object)

In [120]:
reaction_type['reaction_type'].unique()

array(['heart', 'want', 'disgust', 'hate', 'interested', 'indifferent',
       'love', 'super love', 'cherish', 'adore', 'like', 'dislike',
       'intrigued', 'peeking', 'scared', 'worried'], dtype=object)

#### JOINING THE THREE DATAFRAMES TOGETHER

In [121]:
buzz = pd.merge(reaction,content, on = 'Content ID', how= 'inner')

In [122]:
buzz.head()

,Content ID,Type_x,Datetime,Type_y,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,studying

In [123]:
buzz.rename(columns = {'Type_x' : 'reaction_type', 'Type_y' : 'content_type'},inplace = True)

In [124]:
buzz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24573 entries, 0 to 24572
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     24573 non-null  object
 1   reaction_type  24573 non-null  object
 2   Datetime       24573 non-null  datetime64[ns]
 3   content_type   24573 non-null  object
 4   Category       24573 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 960.0+ KB

In [125]:

buzz.head()

,Content ID,reaction_type,Datetime,content_type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,studying

In [126]:
social_buzz = pd.merge(buzz, reaction_type,  on = 'reaction_type', how = 'left')

In [127]:
social_buzz.head()

,Content ID,reaction_type,Datetime,content_type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,studying,positive,30

In [128]:
social_buzz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24573 entries, 0 to 24572
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     24573 non-null  object
 1   reaction_type  24573 non-null  object
 2   Datetime       24573 non-null  datetime64[ns]
 3   content_type   24573 non-null  object
 4   Category       24573 non-null  object
 5   Sentiment      24573 non-null  object
 6   Score          24573 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 1.3+ MB

In [129]:
social_buzz.duplicated().sum()

0

In [138]:
social_buzz.to_excel('social buzz data.xlsx', index = False)

### social buzz analysis of their content categories that highlights the top 5 categories with the largest aggregate popularity



* Top 5 Popular Categories

In [68]:
Top_Categories = social_buzz.groupby('Category')['Score'].sum().sort_values(ascending = False).head(5)
print(" The top 5 categories with the largest aggregate popularity are : ", Top_Categories)

 The top 5 categories with the largest aggregate popularity are :  Category
animals           74965
science           71168
healthy eating    69339
technology        68738
food              66676
Name: Score, dtype: int64

In [139]:
Top_Categories.to_excel('Top 5 Categories.xlsx',index = False)